/* styles.css */
.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure it stays behind other elements */
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    animation: moveCircle linear infinite;
  }
  
  @keyframes moveCircle {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(var(--x-end), var(--y-end));
    }
  }